DATABASE_URL="YOUR DB URL HERE"

# This can be generated with openssl rand -base64 32
NEXTAUTH_SECRET="YOUR SECRET HERE"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
BASE_URL="http://localhost:3000"

NEXTAUTH_URL="http://localhost:3000"

GOOGLE_GENAI_API_KEY="YOUR KEY HERE"
JUDGE0_API_KEY="YOUR KEY HERE"


# This can be generated with openssl rand -hex 32
ADMIN_API_KEY="YOUR KEY HERE"

REDIS_HOST="YOUR REDIS HOST HERE"
REDIS_PORT="YOUR PORT HERE"
REDIS_TOKEN="YOUR REDIS TOKEN HERE"

CLUELESS_INTERACTIONS_DB="YOUR INTERACTIONS DB HERE"

# EXAMPLE ENV USING THROWAWAY KEYS

# DATABASE_URL=postgres://neondb_owner:npg_GYg6nVTBi5dq@ep-wispy-recipe-afw4jrob-pooler.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require

# NEXTAUTH_SECRET=8e75c21144bf817b5309c07abc21e258242834ec25b0f8cd34d74c3c4aebd2ae

# NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# BASE_URL="http://localhost:3000"

# NEXTAUTH_URL="http://localhost:3000"

# GOOGLE_GENAI_API_KEY=AIzaSyAqOI_ErMY4SNcd8bhGrNVegOl5x5Aqj0Y
# JUDGE0_API_KEY=2fd60d7ce4mshc4c3ae583dc7082p1da6b9jsn47cb24103119

# ADMIN_API_KEY=af06fe29be1c48e1706aa06d10c422fdc3af7246ad69f82d29ecc9d7d414f16b

# REDIS_HOST=redis-19278.c239.us-east-1-2.ec2.redns.redis-cloud.com
# REDIS_PORT=19278
# REDIS_TOKEN=Pd4FH3V74ZCtLuhpkgshCmvWGodZ3ufn